/* ==========================================================================
Footer
========================================================================== */

.footer-version {
    font-size: 12px;
    color: black;
}
