<div>
    <h2>
        <span>Dinosaurs</span>
        <button class="btn btn-primary float-right jh-create-entity create-dinosaur" [routerLink]="['/', { outlets: { popup: ['dinosaur-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Dinosaur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dinosaurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weight"><span>Weight</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="length"><span>Length</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diet"><span>Diet</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="insertDt"><span>Insert Dt</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedDt"><span>Modified Dt</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eraName"><span>Era</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cladeDescription"><span>Clade</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dinosaur of dinosaurs ;trackBy: trackId">
                <td><a [routerLink]="['../dinosaur', dinosaur.id ]">{{dinosaur.id}}</a></td>
                <td>{{dinosaur.name}}</td>
                <td>{{dinosaur.weight}}</td>
                <td>{{dinosaur.length}}</td>
                <td>{{dinosaur.diet}}</td>
                <td>{{dinosaur.insertDt | date:'medium'}}</td>
                <td>{{dinosaur.modifiedDt | date:'medium'}}</td>
                <td>
                    <div *ngIf="dinosaur.eraId">
                        <a [routerLink]="['../era', dinosaur.eraId  ]" >{{dinosaur.eraName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dinosaur.cladeId">
                        <a [routerLink]="['../clade', dinosaur.cladeId  ]" >{{dinosaur.cladeDescription}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dinosaur', dinosaur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dinosaur/'+ dinosaur.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dinosaur/'+ dinosaur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
